.div-img{
	border: 2px dotted red;
	height: "10%";
	width: "20%";
}
.alumni{
	<style width: "50%";
	height: "50%";
}
.logo-img{
	 border:2px solid black;
	 height: "10%";
	width: "20%";
}